.test {
	border: 1px solid red;
}
.ul li {
	list-style: none; 
	float: left;

}

.progbar {
	position: relative;
	left: 0%;
}

.ul {
	counter-reset: step;
}

.ul li{
	text-align: center;
	width: calc(20%);
	font-weight: bold;
	font-size: 25px;
	color: gray;
}

.ul li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	height: 50px;
	border: 5px solid gray;
	border-radius: 30%;
	display: block;
	margin: 0px auto 10px auto;
	line-height: 50px;
	background: #fff;
	pointer-events: initial;
	
}

.ul li:after {
	content: '';
	width: 20%;
	height: 5px;
	background: gray;
	position: absolute;
	top: 26px;
	margin-left: -3%;
	z-index: -1;
	/*left: 200px;*/
	/*left: 50px;*/
}

.ul li:last-child:after {
	content: none;
}

.ul li.active {
	color: #04359C;
	cursor: pointer;
	
}

.ul li.active:before {
	border-color: #04359C;
	box-shadow: 0px 0px 2px #04359C;
	background-color: #04359C;
	color: white;

}

.ul li.active:after {
	background-color: #04359C;
	box-shadow: 0px 0px 1px #04359C;
}








